
#head{
	text-align:center; font-weight: 10px; font-size:35px; font-family: Tahoma; color: maroon;
}
body {
	max-width: 80%;
	margin: 0 auto;
}

ul {
	margin:0 auto;
	float: left;
	text-decoration: none;
	background-color: #C8C8C8;
	padding: 20px;
	border:1px solid #888888;
	border-radius: 1.5px;
	display:inline;
}

li {
	float: left;
	list-style: none;
	margin-right: 30px;
	font-size: 2em;
	font-family: Arial;
	color: #505050;
}

img{

	border: 1px solid gold;
	border-radius: 4px;
	clear: left;
	float:left;
	height: 35%;
	width: 35%;
	margin-top: 75px;
}

li:hover {
	color: #F8F8F8;
	/*background-color: white;
	padding-right: -10px;*/
}
/*div{

	float: left;
	font-family:serif;
	color: black;
	font-size:25px;*/
}

#bold {
	font-weight: bold;
}
#wrapper{
	font-size: 150%;
	color: darkblue;
	background-color: white;
	padding: 20px 20px;
	float: right;
	clear; right;

}
.main{
	float: left;
}

/*#workplace{
	float:right;
	font-style: Arial;
	font-size: 20px;
	clear:right;
	color:red;
}*/
